<%= simple_form_for(@dog,
  :html => { :class => 'form-horizontal' }) do |f| %>

  <%= render 'shared/form_errors', :f => f %>

  <%= f.input :name %>
  <%= f.association :owner, :input_html => {
    :disabled => 'disabled' } %>
  <%= f.input :race %>

  <div class="form-actions">
    <%= f.submit :label => 'Salvar', :class => 'btn-primary' %>
    <%= link_to 'Cancelar', dogs_path, :class => 'btn pull-right' %>
  </div>
<% end %>
