<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @dog.name %>
</p>

<p>
  <b>Dono:</b>
  <%= link_to @dog.owner.name, @dog.owner %>
</p>

<p>
  <b>Raça:</b>
  <%= @dog.race %>
</p>


<%= link_to 'Editar', edit_dog_path(@dog) %> |
<%= link_to 'Voltar', dogs_path %>
