<h1>Lista de Clientes Cadastrados</h1>

<table class="table dblclick-table">
  <tr>
    <th>Nome</th>
    <th>Endereço</th>
    <th>Telefone</th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr data-url="<%= url_for(client) %>">
    <td><%= client.name %></td>
    <td><%= client.address %></td>
    <td><%= client.phone %></td>
    <td><%= link_to 'Ver Cachorros', '#', class: "dogs-list", :'data-client-id' => client.id %></td>
  </tr>
<% end %>
</table>


<% content_for :javascripts do %>
  <script type="text/javascript">
    function render_dog(dog) {
      var str = dog.name;
      if (dog.race) str += " - " + dog.race;
      return str;
    }

    var compiled = _.template("<tr class='dogs'> \
      <td colspan='100'> \
        <div style='display:none'> \
          <ul> \
            <%% _.each(dogs, function(dog) { %> \
              <li> \
                <a href='dogs/<%%= dog.id %>' target='_blank'><%%= render_dog(dog) %></a> \
              </li> \
            <%% }); %> \
          </ul> \
        </div> \
      </td> \
    <tr>");

    $('a.dogs-list').click(function() {
      var tr = $('tr.dogs'),
        el = $(this);
      if (tr.length !== 0) {
        tr.find('div').slideUp(function () {
          tr.remove();
        });
        return;
      }
      var id = $(this).data('client-id'),
        self = this;

      $.get('dogs', {client_id: id}, function(data) {
        if (data.length === 0) {
          el.html('Sem cachorros');
          return;
        }
        $(self).parents('tr').after(compiled({dogs: data}));
        $('tr.dogs div').slideDown();
      }, 'json');
    });
  </script>
<% end %>
