<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @client.name %>
</p>

<p>
  <b>Endereço:</b>
  <%= @client.address %>
</p>

<p>
  <b>Telefone:</b>
  <%= @client.phone %>
</p>


<%= link_to 'Editar', edit_client_path(@client) %> |
<%= link_to 'Lista de Clientes', clients_path %>
