<style type="text/css">
  .add-margin { margin-top: 10pt; }
</style>

<h2>Pedidos do dia</h2>

<% if (@today_orders = Order.open_today).empty? %>
  <h3>Nenhum Pedido em aberto hoje</h3>
<% end %>

<table class="table dblclick-table">
  <% @today_orders.each do |order| %>
    <tr data-url="<%= url_for(order) %>">
      <td><%= order.client.name %></td>
      <td><%= order.dog.name %></td>
      <td>R$ <%= order.price %></td>
      <td><%= distance_of_time_in_words_to_now order.created_at %></td>
      <td>
        <%= form_tag order,
          :method => :put,
          :remote => true,
          :class => 'close-order',:style => 'display:inline' do %>
          <%= hidden_field_tag 'order[status]', Order::Status::CLOSED %>
          <%= link_to 'fechar', '', :onclick => '$(this).parent("form").submit()', :confirm => 'Deseja mesmo fechar este pedido?' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<hr>



<h2 class="add-margin">Últimos pedidos atendidos</h2>

<% if (@closed_today = Order.closed_today).empty? %>
  <h3>Nenhum Pedido feito hoje</h3>
<% end %>

<table class="table dblclick-table">
  <% @closed_today.each do |order| %>
    <tr data-url="<%= url_for(order) %>">
      <td><%= order.client.name %></td>
      <td><%= order.dog.name %></td>
      <td>R$ <%= order.price %></td>
      <td><%= distance_of_time_in_words_to_now order.created_at %></td>
    </tr>
  <% end %>
</table>

<hr>



<%= link_to content_tag(:h2, 'Novo pedido', :class => 'add-margin'), new_order_path %>


<% content_for :javascripts do %>
  <script type="text/javascript">
    $('form.close-order')
      .bind('ajax:success', function(){ window.location.reload(true) })
      .bind('ajax:failure', function(){ alert('Erro ao fechar pedido, tente novamente mais tarde') });
  </script>
<% end %>
